<nav>
  <a href="https://tech.lgbt/@kellynyanbinary" style="display: none;" rel="me">Mastodon</a>
  <a href="{{BASE}}/links/">Links</a> |
  <a href="{{BASE}}/experiences/">Experiences</a> |
  <a href="{{BASE}}/projects/">Projects</a>
</nav>
<nav class="toggles">
  <span>Theme:</span>
  <a href="{{BASE_LIGHT}}/" {{CURRENT_THEME_LIGHT}}>Light</a> |
  <a href="{{BASE_DARK}}/" {{CURRENT_THEME_DARK}}>Dark</a>
  <span class="toggle-sep">|</span>
  <span>Font:</span>
  <a href="{{BASE_FONT_DEFAULT}}/" {{CURRENT_FONT_DEFAULT}}>Default</a> |
  <a href="{{BASE_FONT_ATKINSON}}/" {{CURRENT_FONT_ATKINSON}}>Atkinson</a>
</nav>
