<section class="secondarypagetitle">
  <h1>{{TITLE}}</h1>
  <nav>
    <a href="{{BASE}}/">Home</a> |
    <a href="{{BASE}}/links/" {{CURRENT_LINKS}}>Links</a> |
    <a href="{{BASE}}/experiences/" {{CURRENT_EXPERIENCES}}>Experiences</a> |
    <a href="{{BASE}}/projects/" {{CURRENT_PROJECTS}}>Projects</a>
  </nav>
  <nav class="toggles">
    <span>Theme:</span>
    <a href="{{BASE_LIGHT}}{{PATH}}" {{CURRENT_THEME_LIGHT}}>Light</a> |
    <a href="{{BASE_DARK}}{{PATH}}" {{CURRENT_THEME_DARK}}>Dark</a>
    <span class="toggle-sep">|</span>
    <span>Font:</span>
    <a href="{{BASE_FONT_DEFAULT}}{{PATH}}" {{CURRENT_FONT_DEFAULT}}>Default</a> |
    <a href="{{BASE_FONT_ATKINSON}}{{PATH}}" {{CURRENT_FONT_ATKINSON}}>Atkinson</a>
  </nav>
</section>
