@media (prefers-color-scheme: light) {
  :root {
    --text: oklch(23.29% 0.036 66.22);
    --background: oklch(100.00% 0.000 89.88);
    --primary: oklch(73.19% 0.186 52.98);
    --secondary: oklch(86.36% 0.054 67.00);
    --accent: oklch(86.41% 0.083 230.61);
    --link: oklch(36.80% 0.083 230.61);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: oklch(93.26% 0.027 66.22);
    --background: oklch(0.00% 0.000 0.00);
    --primary: oklch(73.19% 0.186 52.98);
    --secondary: oklch(35.19% 0.063 67.00);
    --accent: oklch(36.80% 0.083 230.61);
    --link: oklch(86.41% 0.083 230.61);
  }
}

:root {
  background-color: var(--background);
}

body {
  margin: 0px 5% 100px 5%;
  font-family: 'Poppins', Arial, sans-serif;
  color: var(--text);
  max-width: 80ch;
  margin: 0 auto; /* center text */
}

.maintitle {
  display: flex;
  color: var(--primary);
  height: 100dvh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.secondarypagetitle {
  display: flex;
  color: var(--primary);
  height: 20dvh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: max(3vmax, 24pt);
}

h2 {
  border-bottom: 2px solid var(--primary);
  padding-bottom: 4px;
}

h3 {
  margin-bottom: 0.5em;
}

h4 {
  /* margin-bottom: 0.2em; */
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

::selection {
  background: var(--accent); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--accent); /* Gecko Browsers */
}

/* Scroll bars */
/* Default scrollbar styles for light mode */
::-webkit-scrollbar {
  width: 10pt;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  /* Default scrollbar styles for firefox in light mode */
  scrollbar-color: #888 #f1f1f1;
}

/* Scrollbar styles for dark mode */
@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-track {
    background: #333;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* Scrollbar styles for Firefox in dark mode */
  * {
    scrollbar-color: #888 #333;
  }
}
