body {
  background-color: black;
  margin: 50px 5% 100px 5%;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-size: 1vw;
}

.title {
  color: orange;
  font-size: 4vw;
  text-align: center;
  padding-bottom: 1vh;
  border-bottom: 0.1em solid white;
}

h2 {
  color: orange;
}

h4 {
  color: #FB4;
  margin-bottom: 0.2em;
}